# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# Flutter/Dart build & dependency artifacts
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ephemeral/

# Android build & local settings
android/.gradle/
android/captures/
android/gradleApp.setting
android/local.properties
android/key.properties
*.jks

# IDE files
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Node / web
node_modules/